Load libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

Load en bekijk data

In [2]:
data = pd.read_csv('titanic_data.csv')
print(data.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Bekijk welke data categorisch is

In [3]:
print(data.head(10))
# So survived, pclass, embarked and sex are categorical

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

Verijder de kolommen 'Name', 'Cabin' en 'Ticket'

In [4]:
data = data.drop(['Name', 'Cabin', 'Ticket'], axis=1)
print(data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

Codeer categorische features met indices (getallen)

In [5]:
# We encode the sex and embarked columns to an integer
data['Sex'] = pd.factorize(data['Sex'])[0]
data['Embarked'] = pd.factorize(data['Embarked'])[0]
print(data.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500         0
1            2         1       1    1  38.0      1      0  71.2833         1
2            3         1       3    1  26.0      0      0   7.9250         0
3            4         1       1    1  35.0      1      0  53.1000         0
4            5         0       3    0  35.0      0      0   8.0500         0

Vervang NaN in "Ages". Bepaal zelf of mediaan of gemiddelde hiervoor het best is.

In [6]:
print(data['Age'].describe())
data['Age'] = data['Age'].fillna(data['Age'].mean())

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

Bereid de data voor om je model te trainen. Wat wordt je target vector en hoe ziet je feature matrix er uit?

In [7]:
label_true = data['Survived']
features = data[['Sex', 'Pclass', 'Age','Embarked']]
print(features)
data_train, data_test, label_train, label_test = train_test_split(features, label_true, test_size=0.2,random_state=5)

     Sex  Pclass        Age  Embarked
0      0       3  22.000000         0
1      1       1  38.000000         1
2      1       3  26.000000         0
3      1       1  35.000000         0
4      0       3  35.000000         0
..   ...     ...        ...       ...
886    0       2  27.000000         0
887    1       1  19.000000         0
888    1       3  29.699118         0
889    0       1  26.000000         1
890    0       3  32.000000         2

[891 rows x 4 columns]

Train en test KNN classifier

In [8]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(data_train, label_train)
knn_pred = knn.predict(data_test)
knn_acc = accuracy_score(label_test, knn_pred)
print(f"Accuracy of KNN is {knn_acc}")

Accuracy of KNN is 0.8156424581005587

Train en test regressie classifier. Kies je lineair of logistisch?

In [9]:
logr = LogisticRegression()
logr.fit(data_train, label_train)
logr_pred = logr.predict(data_test)
logr_acc = accuracy_score(label_test, logr_pred)
print(f"Accuracy of Logistic Regression is {logr_acc}")

Accuracy of Logistic Regression is 0.7988826815642458

Welk model geeft het beste resultaat?

In [10]:
result = "Logistic regression" if logr_acc > knn_acc else "K Nearest Neighbours"
print(f"{result} has the better result")

K Nearest Neighbours has the better result

Extra: Kan je het resultaat verbeteren?